.verticleLine {
  border-left: 1px solid rgb(206, 206, 206);
  margin-top: 15px;
  margin-right: 50px;
  height: 150px;
}

.form-control,
label,
button {
  font-size: smaller !important;
}

.searchComp {
  border-radius: 10px;
  padding: 20px 0px 20px 0px;
}

.myHeading {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  /* padding: 0; */
  font-size: large;
  /* padding: 5px !important; */
  justify-content: center !important;
}
.searchForm {
  /* border: rgb(190, 190, 190) solid 2px;
  border-radius: 10px; */
  padding: 5px;
}
