/* .leftPart {
  border-right: #b6b7b8 solid 1px;
} */

/* this class is in all three chart components and not in stats component */
.chartContainer {
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
